In [ ]:
# !pip install -U pip
# !pip install ktrain

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os
from nltk import word_tokenize
import string
import re

import warnings
warnings.filterwarnings("ignore")

In [ ]:
# loading datasets from data dir
df = pd.read_excel("Swahili.xlsx")

# Total Records
print("Total Records: ", df.shape[0])

# preview data from top
df.head()

Total Records:  348

                                             Content
0  Bei ya kiberiti ikiweza ongezeka heri nikuwe n...
1  Serikali inayoshindwa kudhibiti ongezeka la be...
2  Tunataka katiba mpya ambayo \nitalinda wakulim...
3  Usisahau @kigogo2014 afu debe la mahindi ni sh...
4  Na hizo ni bei za madukani mjini yaani kwa wak...

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
stw = pd.read_excel("SwahiliStopwards.xlsx")
stw.head()

  StopWards
0   akasema
1   alikuwa
2   alisema
3     baada
4      basi

In [ ]:
# Now removing stopwords
swstopwords = set(stw["StopWards"])

In [ ]:
# function to clean text
def clean_text(sentence):
    '''
        function to clean content column, make it ready for transformation and modeling
    '''
    sentence = str([sentence.lower() for i in sentence] )              #convert text to lower-case
    sentence = re.sub('â€˜','',sentence)    # remove the text â€˜ which appears to occur flequently
    sentence = re.sub('[‘’“”…,/\=?]', '', sentence) # remove punctuation
    sentence = re.sub('[()]', '', sentence)  #remove parentheses
    sentence = re.sub("[^a-zA-Z]"," ",sentence) #remove numbers and keep text/alphabet only
    sentence_tokenize = word_tokenize(sentence)      # remove repeated characters (tanzaniaaaaaaaa to tanzania)
    clean_text = [i for i in sentence_tokenize if i not in swstopwords] # remove stop words
    return ' '.join(sentence)

In [ ]:
df['clean_text'] = df['Content'].apply(clean_text)
df['clean_text'].head()

0        b e i   y a   k i b e r i t i   i k i w e ...
1        s e r i k a l i   i n a y o s h i n d w a ...
2        t u n a t a k a   k a t i b a   m p y a   ...
3        u s i s a h a u     k i g o g o           ...
4        n a   h i z o   n i   b e i   z a   m a d ...
Name: clean_text, dtype: object

In [ ]:
df.head()

,Content,clean_text
0,b e i y a k i b e r i t i i k i w e ...,b e i y a k i b e r i t i i k i w e ...
1,s e r i k a l i i n a y o s h i n d w a ...,s e r i k a l i i n a y o s h i n d w a ...
2,t u n a t a k a k a t i b a m p y a ...,t u n a t a k a k a t i b a m p y a ...
3,u s i s a h a u k i g o g o ...,u s i s a h a u k i g o g o ...
4,n a h i z o n i b e i z a m a d ...,n a h i z o n i b e i z a m a d ...

In [ ]:
#type(str(df['Content']))

In [ ]:
df['Content']=df['Content'].apply(lambda sentence:clean_text(sentence))

In [ ]:
df['Content']

In [ ]:
#df.to_csv("clean_data.csv", index=False, header=False)